/*头部开始*/
.header {
  height: 140px;
}
.header .header-top-box {
  height: 80px;
  background: #292c33;
}
.header .header-top-box .header-top {
  width: 1000px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.header .header-top-box .header-top .logo {
  width: 178px;
  height: 140px;
  display: block;
  overflow: hidden;
  float: left;
}
.header .header-top-box .header-top .logo-text {
  float: left;
  height: 100%;
  color: #f0f0f0;
  padding-left: 20px;
}
.header .header-top-box .header-top .logo-text h2 {
  padding-top: 20px;
  font-size: 22px;
  line-height: 26px;
  text-shadow: 1px 1px 2px #222;
}
.header .header-top-box .header-top .logo-text h4 {
  font-size: 14px;
  line-height: 18px;
  text-shadow: 1px 1px 2px #222;
}
.header .header-top-box .header-top .header-top-right {
  float: right;
}
.header .header-top-box .header-top .header-top-right a {
  float: left;
  width: 36px;
  height: 36px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 24px  10px 0 0;
}
.header .header-top-box .header-top .header-top-right .header-top-tell {
  float: left;
  width: 138px;
  height: 44px;
  margin: 18px 0;
}
.header .header-nav-box {
  height: 60px;
  background-color: #ffffff;
}
.header .header-nav-box .header-nav {
  width: 1000px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.header .header-nav-box .header-nav .header-nav-list {
  width: 822px;
  margin-left: 178px;
  text-align: justify;
}
.header .header-nav-box .header-nav .header-nav-list::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
  line-height: 0;
}
.header .header-nav-box .header-nav .header-nav-list li {
  display: inline-block;
  text-align: center;
  height: 60px;
  min-width: 84px;
}
.header .header-nav-box .header-nav .header-nav-list li a {
  display: block;
  height: 100%;
}
.header .header-nav-box .header-nav .header-nav-list li a:hover .zh {
  font-size: 18px;
  color: #0c80ec;
}
.header .header-nav-box .header-nav .header-nav-list li a:hover .en {
  opacity: 1;
}
.header .header-nav-box .header-nav .header-nav-list li span {
  display: block;
  transition: font-size 0.2s, opacity 0.3s;
}
.header .header-nav-box .header-nav .header-nav-list li .zh {
  font-size: 16px;
  margin-top: 22px;
  line-height: 18px;
}
.header .header-nav-box .header-nav .header-nav-list li .en {
  font-size: 12px;
  color: #0c80ec;
  opacity: 0;
}
/*头部结束*/
/* lx */
.lx_more {
  width: 136px;
  height: 28px;
  float: right;
}
.lx_more img {
  width: 100%;
  height: 100%;
}
.lx_gainBox {
  width: 100%;
  height: auto;
  background: #ffffff;
}
.lx_gain {
  width: 1000px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.lx_gain .lx_gainHead {
  width: 100%;
  text-align: center;
}
.lx_gain .lx_gainHead h3 {
  font-family: "Helvetica", "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #0d0d0d;
}
.lx_gain .lx_gainHead h6 {
  font-family: 'Microsoft YaHei';
  font-size: 14px;
  color: #222222;
  margin: 10px 0;
}
.lx_gain .lx_gainHead .lx_gainX {
  width: 20px;
  height: 2px;
  background: #0c80ec;
  margin: 0 auto;
}
.lx_gain .lx_gainMenu {
  width: 100%;
  height: 45px;
  padding: 30px 0 20px;
  border-bottom: 1px solid #c9c9c9;
  line-height: 45px;
}
.lx_gain .lx_gainMenu li {
  float: left;
  margin-right: 40px;
  color: #404040;
  font-size: 14px;
  cursor: pointer;
}
.lx_gain .lx_gainMenu .lx_menuHot {
  padding-bottom: 20px;
  border-bottom: 1px solid #0c80ec;
  color: #0c80ec;
  font-weight: bolder;
}
.lx_gain .lx_gainMenu .lx_gainOrder {
  font-family: 'Microsoft YaHei';
  font-size: 12px;
  color: #888;
  float: left;
  margin-left: -20px;
}
.lx_gain .lx_tabBox {
  width: 1080px;
  height: 780px;
  padding-top: 40px;
  margin-left: -40px;
}
.lx_gain .lx_tabBox .lx_tabPer {
  width: 280px;
  height: 350px;
  margin: 0 40px 40px;
  background: #ffffff;
  float: left;
}
.lx_gain .lx_tabBox .lx_tabPer .lx_tabPho {
  width: 280px;
  height: 210px;
  overflow: hidden;
  position: relative;
}
.lx_gain .lx_tabBox .lx_tabPer .lx_tabPho img {
  width: 100%;
  height: 100%;
}
.lx_gain .lx_tabBox .lx_tabPer .lx_tabPho .lx_tabMask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 999999;
  background: rgba(67, 145, 221, 0.6);
}
.lx_gain .lx_tabBox .lx_tabPer .lx_tabPho .lx_tabMask img {
  width: 110px;
  height: 104px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}
.lx_gain .lx_tabBox .lx_tabPer .lx_tabName {
  font-size: 20px;
  color: #111;
  margin-top: 20px;
}
.lx_gain .lx_tabBox .lx_tabPer .lx_tabPro {
  font-size: 14px;
  color: #444;
  border-bottom: 1px dashed #444;
  padding-bottom: 10px;
  padding-top: 6px;
  padding-right: 25px;
  margin-bottom: 5px;
  display: inline-block;
}
.lx_gain .lx_tabBox .lx_tabPer .lx_tabSalary {
  font-size: 14px;
  color: #444;
  padding: 3px 0;
}
.lx_gain .lx_tabBox .lx_tabPer .lx_tabSalary span {
  font-size: 18px;
  color: #fe6e20;
}
.lx_gain .lx_tabBox .lx_tabPer .lx_tabCom {
  font-size: 14px;
  color: #444;
}
.lx_radia {
  width: 100%;
  height: 575px;
  background: #f7f7f7;
}
.lx_radia .lx_radiaCon {
  width: 1000px;
  height: 465px;
  padding: 60px 0 50px;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/peitu_113.png) left 60px no-repeat;
}
.lx_radia .lx_radiaCon .lx_radiaLeft {
  width: 525px;
  height: 470px;
  float: left;
  position: relative;
}
.lx_radia .lx_radiaCon .lx_radiaLeft .lx_radiaImg {
  position: absolute;
  left: 335px;
  top: 193px;
}
.lx_radia .lx_radiaCon .lx_radiaLeft .lx_radiaCity {
  position: absolute;
  width: 130px;
  height: 45px;
  overflow: hidden;
  background: #e67030;
}
.lx_radia .lx_radiaCon .lx_radiaLeft .lx_radiaCity .lx_cityLeft {
  width: 22px;
  height: 30px;
  float: left;
  padding: 5px 0;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
}
.lx_radia .lx_radiaCon .lx_radiaLeft .lx_radiaCity .lx_cityDes {
  width: 108px;
  height: 30px;
  padding: 5px 0;
  overflow: hidden;
  font-size: 12px;
  color: #ffebe0;
}
.lx_radia .lx_radiaCon .lx_radiaRight {
  width: 380px;
  height: 470px;
  float: right;
}
.lx_radia .lx_radiaCon .lx_radiaRight .lx_radiaHead {
  font-size: 24px;
  color: #0d0d0d;
  border-left: 3px solid #0c80ec;
  padding-left: 10px;
}
.lx_radia .lx_radiaCon .lx_radiaRight .lx_radiaDes {
  font-size: 14px;
  color: #222222;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.lx_radia .lx_radiaCon .lx_radiaRight .lx_radiaP {
  margin-top: 90px;
  font-size: 16px;
}
.lx_dreamBox {
  width: 100%;
  height: 490px;
  background: #ffffff;
}
.lx_dream {
  width: 1000px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 45px 0 40px;
}
.lx_dream .lx_dreamHead {
  font-size: 36px;
  color: #0c80ec;
  font-weight: bold;
  padding: 10px 0 45px ;
  text-align: center;
}
.lx_dream .lx_dreamLeft {
  width: 625px;
  height: 300px;
  float: left;
}
.lx_dream .lx_dreamLeft .lx_dreamNew {
  font-size: 18px;
  color: #0d0d0d;
  padding: 10px 0;
  border-bottom: 1px dashed #bfbfbf;
}
.lx_dream .lx_dreamLeft .lx_newBox {
  width: 100%;
  height: 240px;
  margin-top: 20px;
}
.lx_dream .lx_dreamLeft .lx_newBox .lx_newImg {
  float: left;
  width: 320px;
  height: 240px;
}
.lx_dream .lx_dreamLeft .lx_newBox .lx_newImg img {
  width: 100%;
  height: 100%;
}
.lx_dream .lx_dreamLeft .lx_newBox .lx_newRight {
  width: 250px;
  height: 240px;
  float: right;
  padding-left: 25px;
  background: url("../images/lx_newBg.png") left top no-repeat;
}
.lx_dream .lx_dreamLeft .lx_newBox .lx_newRight .lx_newItem {
  width: 100%;
  height: 80px;
  overflow: hidden;
  margin-bottom: 5px;
}
.lx_dream .lx_dreamLeft .lx_newBox .lx_newRight .lx_newItem .lx_newTitle {
  font-family: "Microsoft YaHei";
  color: #111;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lx_dream .lx_dreamLeft .lx_newBox .lx_newRight .lx_newItem .lx_newDes {
  font-family: "Microsoft YaHei";
  color: #4b4b4b;
  font-size: 12px;
  padding-top: 5px;
}
.lx_dream .lx_dreamRight {
  width: 320px;
  height: 300px;
  float: right;
  -webkit-box-shadow: 0px 0px 5px #ededed;
  -moz-box-shadow: 0px 0px 5px #ededed    ;
  box-shadow: 0px 0px 5px #ededed    ;
}
.lx_dream .lx_dreamRight .lx_dreamItem {
  height: 35px;
  border-bottom: 1px solid #e5e5e5;
  line-height: 35px;
}
.lx_dream .lx_dreamRight .lx_dreamItem li {
  float: left;
  width: 50%;
  height: 100%;
  background: #ffffff;
  text-align: center;
  font-size: 16px;
  color: #fe6e20;
  cursor: pointer;
}
.lx_dream .lx_dreamRight .lx_dreamItem li .iconfont {
  color: #fe6e20;
}
.lx_dream .lx_dreamRight .lx_dreamItem .lx_dreamHot {
  background: #0c80ec;
  color: #ffffff;
}
.lx_dream .lx_dreamRight .lx_dreamItem .lx_dreamHot .iconfont {
  color: #ffffff;
}
.lx_dream .lx_dreamRight .lx_dreamTab {
  height: 265px;
  overflow: hidden;
}
.lx_dream .lx_dreamRight .lx_dreamTab .lx_dreamSlide {
  height: 255px;
  padding: 10px;
  box-sizing: border-box;
}
.lx_dream .lx_dreamRight .lx_dreamTab .lx_dreamSlide table {
  width: 100%;
  height: 215px;
  border-collapse: collapse;
}
.lx_dream .lx_dreamRight .lx_dreamTab .lx_dreamSlide tr {
  height: 35px;
}
.lx_dream .lx_dreamRight .lx_dreamTab .lx_dreamSlide .lx_kbTime {
  background: url(../images/lx_kb.png) left 5px no-repeat;
  padding-left: 12px;
  box-sizing: border-box;
}
.lx_dream .lx_dreamRight .lx_dreamTab .lx_dreamSlide th {
  text-align: left;
  font-size: 14px;
  color: #1a1a1a;
  font-weight: 700;
}
.lx_dream .lx_dreamRight .lx_dreamTab .lx_dreamSlide td {
  font-size: 14px;
  color: #4a4a4a;
}
.lx_dream .lx_dreamRight .lx_dreamTab .lx_dreamSlide .lx_kbqk {
  position: relative;
  color: #888;
  font-size: 12px;
  text-align: center;
}
.lx_dream .lx_dreamRight .lx_dreamTab .lx_dreamSlide .lx_kbqkF {
  position: relative;
  color: #fe6e20;
  font-size: 12px;
}
.lx_dream .lx_dreamRight .lx_dreamTab .lx_dreamSlide .lx_qkBase {
  width: 45px;
  height: 16px;
  background: #dddddd;
  border-radius: 8px;
  position: relative;
  float: left;
}
.lx_dream .lx_dreamRight .lx_dreamTab .lx_dreamSlide .lx_qkBase .lx_progress {
  height: 100%;
  background: #fe6e20;
  border-radius: 8px;
}
.lx_dream .lx_dreamRight .lx_dreamTab .lx_dreamSlide .lx_cb {
  width: 90px;
  height: 25px;
  border-radius: 16px;
  border: 1px solid #0c80ec;
  color: #0c80ec;
  font-size: 12px;
  text-align: center;
  line-height: 25px;
  float: left;
  margin-left: 30px;
}
.lx_dream .lx_dreamRight .lx_dreamTab .lx_dreamSlide .lx_cb:hover {
  background: #0c80ec;
  color: #ffffff;
}
.lx_soon {
  width: 100%;
  height: 658px;
  background: #302e32 url(../images/lx_soon.png) center top no-repeat;
}
.lx_soon .lx_soonCon {
  width: 1000px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.lx_soon .lx_soonCon .lx_soonBtn {
  width: 100%;
  height: 54px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.lx_soon .lx_soonCon .lx_soonBtn a {
  display: block;
  width: 54px;
  height: 54px;
  border: 1px solid #a0a0a0;
  border-radius: 50%;
  transition: all ease 0.5s;
}
.lx_soon .lx_soonCon .lx_soonBtn .lx_btnL {
  float: left;
  background: #818181 url(../images/btnL.png) center no-repeat;
}
.lx_soon .lx_soonCon .lx_soonBtn .lx_btnL:hover {
  background: #fe6e20 url(../images/btnL.png) center no-repeat;
}
.lx_soon .lx_soonCon .lx_soonBtn .lx_btnR {
  float: right;
  background: #818181 url(../images/btnR.png) center no-repeat;
}
.lx_soon .lx_soonCon .lx_soonBtn .lx_btnR:hover {
  background: #fe6e20 url(../images/btnR.png) center no-repeat;
}
.lx_soon .lx_soonCon .lx_soonTitle {
  color: #ffffff;
  font-family: "Microsoft YaHei";
  font-size: 24px;
  padding: 40px 0 20px 40px;
  background: url("../images/yingxiang_157.png") left 40px no-repeat;
}
.lx_soon .lx_soonCon .lx_soonTitle .iconfont {
  color: #ffffff!important;
  font-size: 24px!important;
}
.lx_soon .lx_soonCon .lx_soonLun {
  width: 840px;
  height: 530px;
  margin: 0 auto;
}
.lx_soon .lx_soonCon .lx_soonLun .lx_soonSlide {
  padding-top: 3px;
  text-align: center;
  position: relative;
}
.lx_soon .lx_soonCon .lx_soonLun .lx_soonSlide .lx_soonBox {
  width: 660px;
  height: 500px;
  background: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.lx_soon .lx_soonCon .lx_soonLun .lx_soonSlide a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 62px;
  height: 62px;
  background: url(../images/jingxiaong_157.png) center no-repeat;
  opacity: 0;
}
.lx_soon .lx_soonCon .lx_soonLun .lx_soonSlide img {
  outline: 1px solid rgba(12, 128, 236, 0);
}
.lx_soon .lx_soonCon .lx_soonLun .lx_soonSlide img:hover {
  outline: 1px solid #0c80ec;
}
.lx_soon .lx_soonCon .lx_soonLun .lx_soonSlide .lx_soonDes {
  padding: 0 10px;
  width: 666px;
  box-sizing: border-box;
  height: 55px;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: -15px;
  left: 0px;
  line-height: 55px;
  text-align: left;
  opacity: 0;
}
.lx_soon .lx_soonCon .lx_soonLun .lx_soonSlide .lx_soonDes .lx_desTime {
  color: #ffffff;
  background: url("../images/jingxiaong_169.png") left center no-repeat;
  font-size: 16px;
  padding-left: 20px;
}
.lx_soon .lx_soonCon .lx_soonLun .lx_soonSlide .lx_soonDes .lx_desTitle {
  margin-left: 25px;
  color: #dedede;
  font-size: 16px;
}
.lx_soon .lx_soonCon .lx_soonLun .lx_soonSlide img {
  width: 666px;
  height: 500px;
}
.lx_subject {
  width: 1000px;
  height: 316px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.lx_subject .lx_gainMenu {
  width: 100%;
  height: 45px;
  padding: 30px 0 5px;
  border-bottom: 1px solid #c9c9c9;
  line-height: 45px;
}
.lx_subject .lx_gainMenu li {
  float: left;
  margin-right: 40px;
  color: #1a1a1a;
  font-size: 14px;
  cursor: pointer;
}
.lx_subject .lx_gainMenu .lx_menuHot {
  padding-bottom: 4px;
  border-bottom: 1px solid #0c80ec;
  color: #0c80ec;
  font-weight: bolder;
}
.lx_subject .lx_gainMenu .lx_gainOrder {
  font-family: 'Microsoft YaHei';
  font-size: 12px;
  color: #888;
  float: left;
  margin-left: -20px;
}
.lx_subject .lx_tabBox {
  width: 950px;
  height: 180px;
  padding-top: 40px;
}
.lx_subject .lx_tabBox .lx_tabMed {
  float: left;
  width: 148px;
  height: 63px;
  border: 1px solid #d2d2d2;
  margin: 0 20px 20px;
}
.lx_subject .lx_tabBox .lx_tabMed img {
  width: 100%;
  height: 100%;
}
.lx_subject .lx_tabBox .lx_tabMed:hover {
  border-color: #0c80ec;
}
.lx_accept {
  width: 1000px;
  height: 375px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.lx_accept .lx_gainMenu {
  width: 100%;
  height: 45px;
  padding: 30px 0 5px;
  border-bottom: 1px solid #c9c9c9;
  line-height: 45px;
}
.lx_accept .lx_gainMenu li {
  float: left;
  margin-right: 40px;
  color: #1a1a1a;
  font-size: 14px;
  cursor: pointer;
}
.lx_accept .lx_gainMenu .lx_menuHot {
  padding-bottom: 4px;
  border-bottom: 1px solid #0c80ec;
  color: #0c80ec;
  font-weight: bolder;
}
.lx_accept .lx_gainMenu .lx_gainOrder {
  font-family: 'Microsoft YaHei';
  font-size: 12px;
  color: #888;
  float: left;
  margin-left: -20px;
}
.lx_accept .lx_tabBox {
  width: 1080px;
  height: 230px;
  padding: 30px 0;
  margin-left: -40px;
}
.lx_accept .lx_tabBox .lx_acceptItem {
  width: 260px;
  height: 230px;
  float: left;
  margin: 0 50px;
  text-align: center;
  font-size: 12px;
  color: #444444;
}
.lx_accept .lx_tabBox .lx_acceptItem a {
  display: block;
  width: 258px;
  height: 188px;
  border: 1px solid #777777;
  margin-bottom: 10px;
}
.lx_accept .lx_tabBox .lx_acceptItem a img {
  width: 100%;
  height: 100%;
}
.lx_footer {
  width: 100%;
  height: 265px;
  border-top: 1px dashed #b5b5b5;
}
.lx_footer .lx_footerBox {
  width: 1000px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.lx_footer .lx_footerBox .lx_footerCon {
  width: 815px;
  height: 215px;
  padding-top: 50px;
  float: right;
}
.lx_footer .lx_footerBox .lx_footerCon .lx_logo {
  width: 215px;
  height: 100%;
  text-align: center;
  float: left;
}
.lx_footer .lx_footerBox .lx_footerCon .lx_logo .lx_logoP {
  margin: 0 auto;
}
.lx_footer .lx_footerBox .lx_footerCon .lx_logo .lx_phone {
  font-size: 16px;
  color: #555 ;
}
.lx_footer .lx_footerBox .lx_footerCon .lx_logo .lx_ewm {
  width: 92px;
  height: 92px;
  display: block;
  margin: 3px auto;
}
.lx_footer .lx_footerBox .lx_footerCon .lx_logo .lx_focus {
  font-size: 12px;
  color: #555;
}
.lx_footer .lx_footerBox .lx_footerCon .lx_footerList {
  width: 600px;
  height: 100%;
  float: left;
}
.lx_footer .lx_footerBox .lx_footerCon .lx_footerList li {
  float: left;
  width: 149px;
  height: 100%;
  text-align: center;
}
.lx_footer .lx_footerBox .lx_footerCon .lx_footerList li h3 {
  font-weight: 700;
  font-size: 16px;
  color: #101010;
  padding-bottom: 20px;
}
.lx_footer .lx_footerBox .lx_footerCon .lx_footerList li .lx_listBox {
  height: auto;
  border-left: 1px dashed #bfbfbf;
}
.lx_footer .lx_footerBox .lx_footerCon .lx_footerList li .lx_listBox a {
  color: #333333;
  font-size: 14px;
  display: block;
  padding-bottom: 13px;
}
.lx_power {
  width: 100%;
  height: 216px;
  background: #0d4f9e url(../images/tu_239.jpg) center top no-repeat;
  position: relative;
}
.lx_power .lx_diandian {
  position: absolute;
  left: 0;
  top: -99px;
  z-index: 99999;
  width: 100%;
  height: 162px;
  background: url(../images/diandian_248.png) left top no-repeat;
}
.lx_power .lx_powerCon {
  position: relative;
  width: 1000px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  padding-top: 125px;
  line-height: 180%;
}
.lx_power .lx_powerCon .lx_dblogo {
  position: absolute;
  left: -230px;
  top: -300px;
}
