/*头部开始*/
.header {
  width: 100%;
  min-width: 1000px;
  height: 140px;
  position: absolute;
  z-index: 99999;
}
.header .header-top-box {
  height: 80px;
  background: #292c33;
}
.header .header-top-box .header-top {
  width: 1000px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.header .header-top-box .header-top .logo {
  width: 178px;
  height: 140px;
  display: block;
  overflow: hidden;
  float: left;
}
.header .header-top-box .header-top .logo-text {
  float: left;
  height: 100%;
  color: #f0f0f0;
  padding-left: 20px;
}
.header .header-top-box .header-top .logo-text h2 {
  padding-top: 20px;
  font-size: 22px;
  line-height: 26px;
  text-shadow: 1px 1px 2px #222;
}
.header .header-top-box .header-top .logo-text h4 {
  font-size: 14px;
  line-height: 18px;
  text-shadow: 1px 1px 2px #222;
}
.header .header-top-box .header-top .header-top-right {
  float: right;
}
.header .header-top-box .header-top .header-top-right a {
  float: left;
  width: 36px;
  height: 36px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 24px  10px 0 0;
  transform: translateZ(0);
  text-align: center;
  line-height: 36px;
  font-size: 20px;
  color: #fff;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.header .header-top-box .header-top .header-top-right a:hover {
  background: #0c80ec;
}
.header .header-top-box .header-top .header-top-right .header-top-tell {
  float: left;
  width: 138px;
  height: 44px;
  margin: 18px 0;
}
.header .header-nav-box {
  height: 60px;
  background-color: rgba(255, 255, 255, 0.7);
}
.header .header-nav-box .header-nav {
  width: 1000px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.header .header-nav-box .header-nav .header-nav-list {
  width: 822px;
  margin-left: 178px;
  text-align: justify;
}
.header .header-nav-box .header-nav .header-nav-list::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
  line-height: 0;
}
.header .header-nav-box .header-nav .header-nav-list li {
  display: inline-block;
  text-align: center;
  height: 60px;
  min-width: 84px;
}
.header .header-nav-box .header-nav .header-nav-list li a {
  display: block;
  height: 100%;
  overflow: hidden;
}
.header .header-nav-box .header-nav .header-nav-list li a:hover .zh {
  font-size: 18px;
  color: #0c80ec;
}
.header .header-nav-box .header-nav .header-nav-list li a:hover .en {
  opacity: 1;
}
.header .header-nav-box .header-nav .header-nav-list li span {
  display: block;
  transition: font-size 0.2s, opacity 0.3s;
}
.header .header-nav-box .header-nav .header-nav-list li .zh {
  font-size: 16px;
  margin-top: 22px;
  line-height: 18px;
}
.header .header-nav-box .header-nav .header-nav-list li .en {
  font-size: 12px;
  color: #0c80ec;
  opacity: 0;
}
/*头部结束*/
/*banner 开始*/
.banner-box {
  width: 100%;
  height: 560px;
  overflow: hidden;
  padding-top: 80px;
  position: relative;
}
.banner-box .hnz-swiper-container {
  height: 560px;
}
.banner-box .swiper-slide a {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  text-align: center;
}
.banner-box .btn-controller {
  position: absolute;
  width: 90%;
  left: 5%;
  height: 0px;
  top: 50%;
  margin-top: 55px;
}
.banner-box .btn-controller a {
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
  color: #fff;
  background: #d2d2d2;
  border: 1px solid #b6b6b6;
  border-radius: 50%;
  transition: all .3s;
}
.banner-box .btn-controller a:hover {
  background: #0369db;
}
.banner-box .btn-controller .hnz-arrow-left {
  float: left;
}
.banner-box .btn-controller .hnz-arrow-right {
  float: right;
}
/*banner 结束*/
/*选择优逸客开始*/
.select-box {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
}
.select-box div {
  width: 20%;
  height: 100%;
  float: left;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.select-box div.select-1 {
  background: url(../images/s_1.png) no-repeat bottom right;
  background-size: 100% 100%;
}
.select-box div.select-2 {
  background: url(../images/s_2.png) no-repeat bottom right;
  background-size: 100% 100%;
}
.select-box div.select-3 {
  background: url(../images/s_3.png) no-repeat bottom right;
  background-size: 100% 100%;
}
.select-box div.select-4 {
  background: url(../images/s_4.png) no-repeat bottom right;
  background-size: 100% 100%;
}
.select-box div.select-5 {
  background: url(../images/s_5.png) no-repeat bottom right;
  background-size: 100% 100%;
}
.select-box div:hover {
  background-size: 120% 120%;
}
.select-box div:hover .select-text1 {
  color: #0c80ec;
}
.select-box div span {
  padding-left: 20px;
  display: block;
  color: #333;
  height: 26px;
  line-height: 26px;
}
.select-box div .select-text1 {
  margin-top: 49px;
  font-weight: bold;
  font-size: 18px;
}
.select-box div .select-text2 {
  font-size: 14px;
}
/*选择优逸客结束*/
/*课程列表开始*/
.course-box {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
.course-box .course-title {
  height: 196px;
  text-align: center;
  overflow: hidden;
}
.course-box .course-title p {
  margin-top: 60px;
  font-size: 36px;
  color: #0c80ec;
}
.course-box .course-title span {
  display: block;
  font-size: 16px;
  color: #333;
}
.course-box .course-title i {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #043280;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.course-box .course-list {
  width: 100%;
  height: 484px;
}
.course-box .course-list .course {
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 10px 10px 0 0;
  width: 33.33333%;
  float: left;
  height: 100%;
  background: #fff;
  overflow: hidden;
}
.course-box .course-list .course.hot,
.course-box .course-list .course:hover {
  transition: all .2s;
  transform: scale3d(1.05, 1.05, 1);
  box-shadow: 0 2px 3px #999;
  border: 1px solid transparent;
  border: 0;
}
.course-box .course-list .course.hot *,
.course-box .course-list .course:hover * {
  transition: all .2s;
}
.course-box .course-list .course.hot .course-top,
.course-box .course-list .course:hover .course-top {
  background: url(../images/course_bg.png) no-repeat center 0;
}
.course-box .course-list .course.hot .course-top .course-top-title h3,
.course-box .course-list .course:hover .course-top .course-top-title h3,
.course-box .course-list .course.hot .course-top .course-top-title p,
.course-box .course-list .course:hover .course-top .course-top-title p {
  color: #fff;
}
.course-box .course-list .course.hot .course-top .course-top-list *,
.course-box .course-list .course:hover .course-top .course-top-list * {
  transition: all .4s;
}
.course-box .course-list .course.hot .course-top .course-top-list h3,
.course-box .course-list .course:hover .course-top .course-top-list h3 {
  color: #fff;
}
.course-box .course-list .course.hot .course-top .course-top-list span,
.course-box .course-list .course:hover .course-top .course-top-list span {
  color: #fff;
  border-color: #fff;
}
.course-box .course-list .course.hot .course-button,
.course-box .course-list .course:hover .course-button {
  background-color: #fe6e20;
  color: #fff!important;
}
.course-box .course-list .course .course-top {
  height: 244px;
  background-color: #e7e7e7;
}
.course-box .course-list .course .course-top .course-top-title {
  width: 262px;
  margin: 0 auto;
  padding: 0 16px;
  text-align: center;
  overflow: hidden;
  border-bottom: 1px dashed #f7f7f7;
}
.course-box .course-list .course .course-top .course-top-title h3 {
  margin-top: 10px;
  font-size: 24px;
  line-height: 2;
}
.course-box .course-list .course .course-top .course-top-title p {
  line-height: 1.5;
  text-align: left;
  font-size: 12px;
  color: #555555;
  margin-bottom: 10px;
}
.course-box .course-list .course .course-top .course-top-list {
  width: 294px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.course-box .course-list .course .course-top .course-top-list h3 {
  font-size: 14px;
  color: #333;
  line-height: 3;
  text-align: center;
}
.course-box .course-list .course .course-top .course-top-list span {
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  margin: 5px;
  display: inline-block;
  border: 1px solid #555;
  border-radius: 13px;
  font-size: 12px;
}
.course-box .course-list .course .course-bottom h3 {
  color: #333;
  text-align: center;
  line-height: 44px;
  font-size: 14px;
}
.course-box .course-list .course .course-bottom .course-bottom-list {
  margin-left: 90px;
  margin-right: 40px;
}
.course-box .course-list .course .course-bottom .course-bottom-list li {
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  position: relative;
}
.course-box .course-list .course .course-bottom .course-bottom-list li span {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #bbbbbb;
  margin-right: 16px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}
.course-box .course-list .course .course-bottom .course-bottom-list li:nth-child(1) span {
  width: 3px;
  height: 3px;
  margin-left: 1px;
}
.course-box .course-list .course .course-bottom .course-bottom-list li:nth-child(2) span {
  width: 3px;
  height: 3px;
  margin-left: 1px;
}
.course-box .course-list .course .course-bottom .course-bottom-list li i {
  position: absolute;
  width: 1px;
  z-index: 0;
  height: 28px;
  background: #ddd;
  top: 16px;
  left: 2px;
}
.course-box .course-list .course .course-bottom .course-button {
  width: 94px;
  height: 34px;
  display: block;
  border: 1px solid #fe6e20;
  color: #fe6e20;
  text-align: center;
  line-height: 34px;
  border-radius: 17px;
  margin: 5px auto 0;
  transition: all .3s;
}
/*课程列表结束*/
/*实训讲师开始*/
/* SHOWMORE开始 */
.more {
  width: 136px;
  height: 28px;
  float: right;
}
.more .more-left {
  float: left;
  width: 107px;
  border: 1px solid #cccccc;
  border-right: 0;
  height: 26px;
  font-size: 14px;
  text-align: center;
  line-height: 28px;
  color: #888;
}
.more .more-right {
  width: 28px;
  height: 28px;
  background-color: #fe6e20;
  text-align: center;
  line-height: 24px;
  font-size: 28px;
  color: #fff;
  float: right;
}
/* SHOWMORE结束 */
.team-box {
  width: 1000px;
  height: auto;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.team-box .team-title {
  padding-top: 42px;
  height: 58px;
}
.team-box .team-title .line {
  display: block;
  height: 24px;
  width: 3px;
  float: left;
  background-color: #0c80ec;
}
.team-box .team-title h3 {
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  margin-left: 12px;
  margin-right: 20px;
}
.team-box .team-title h6 {
  font-size: 18px;
  line-height: 24px;
  float: left;
}
.team-box .hnz-pagination {
  float: right;
  height: 6px;
}
.team-box .hnz-pagination span {
  width: 20px;
  height: 6px;
  background-color: #c6c6c6;
  float: left;
  margin-left: 14px;
  transition: all .2s;
}
.team-box .hnz-pagination span.swiper-visible-switch {
  background: #86b9ff;
}
.team-box .hnz-pagination span.swiper-active-switch {
  background-color: #0369db;
}
.team-box .team-list {
  width: 1040px;
  height: 370px;
  position: relative;
  overflow: hidden;
}
.team-box .team-list .swiper-wrapper {
  height: 370px;
}
.team-box .team-list .swiper-slide {
  height: 100%;
}
.team-box .team-list .swiper-slide:hover .team-img .team-mask {
  opacity: 1;
  filter: opacity(alpha=100%);
}
.team-box .team-list .swiper-slide:hover .team-info .team-avatar {
  opacity: 1;
  top: -50%;
}
.team-box .team-list .swiper-slide:hover .team-info .team-name {
  opacity: 0;
  filter: opacity(alpha=0%);
}
.team-box .team-list .swiper-slide .team-img {
  width: 220px;
  height: 280px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
.team-box .team-list .swiper-slide .team-img img {
  position: absolute;
  z-index: 0;
}
.team-box .team-list .swiper-slide .team-img .team-mask {
  transition: opacity .3s;
  opacity: 0;
  filter: opacity(alpha=0%);
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
}
.team-box .team-list .swiper-slide .team-img .team-mask .team-mask-bg {
  width: 100%;
  height: 100%;
  background: #222;
  opacity: 0.7;
  filter: opacity(alpha=70%);
  position: absolute;
  border-radius: 10px;
  z-index: -1;
}
.team-box .team-list .swiper-slide .team-img .team-mask .team-mask-name {
  font-size: 20px;
  margin-top: 26px;
  line-height: 20px;
}
.team-box .team-list .swiper-slide .team-img .team-mask .team-mask-group {
  font-size: 14px;
}
.team-box .team-list .swiper-slide .team-img .team-mask .line {
  display: block;
  width: 158px;
  height: 1px;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}
.team-box .team-list .swiper-slide .team-img .team-mask p {
  width: 158px;
  margin-left: auto;
  margin-right: auto;
  height: 72px;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  overflow: hidden;
}
.team-box .team-list .swiper-slide .team-img .team-mask .team-btn {
  color: #479ffa;
  font-size: 12px;
  width: 124px;
  height: 26px;
  border: 1px solid #479ffa;
  border-radius: 14px;
  line-height: 28px;
  margin: 20px auto 0;
  transition: all .3s;
  display: block;
}
.team-box .team-list .swiper-slide .team-img .team-mask .team-btn:hover {
  background-color: #479ffa;
  color: #fff;
}
.team-box .team-list .swiper-slide .team-info {
  width: 220px;
  height: 90px;
  position: relative;
  text-align: center;
  border-top: 1px solid #f7f7f7;
}
.team-box .team-list .swiper-slide .team-info .team-avatar {
  opacity: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #fff;
  position: absolute;
  overflow: hidden;
  top: 0%;
  left: 50%;
  margin-left: -40px;
  z-index: 99999;
  transition: top .3s,opacity 0.2s;
}
.team-box .team-list .swiper-slide .team-info .team-avatar img {
  width: 100%;
}
.team-box .team-list .swiper-slide .team-info .team-name {
  color: #0369db;
  font-size: 20px;
  margin-top: 24px;
  opacity: 1;
  filter: opacity(alpha=100%);
}
.team-box .team-list .swiper-slide .team-info .team-group {
  font-size: 14px;
  color: #444;
}
/*实训讲师结束*/
.practical-box {
  margin-top: 40px;
  width: 100%;
  height: 360px;
  background: url(../images/pingpu.jpg) repeat 0 0;
}
.practical-box .practical {
  width: 1000px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.practical-box .practical .practical-title {
  padding-top: 42px;
  height: 58px;
}
.practical-box .practical .practical-title .line {
  display: block;
  height: 24px;
  width: 3px;
  float: left;
  background-color: #0c80ec;
}
.practical-box .practical .practical-title h3 {
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  margin-left: 12px;
  margin-right: 20px;
  color: #fff;
}
.practical-box .practical .practical-title h6 {
  font-size: 18px;
  line-height: 24px;
  float: left;
  color: #ddd;
}
.practical-box .practical .practical-list {
  width: 100%;
  height: 260px;
  text-align: justify;
}
.practical-box .practical .practical-list::after {
  content: "";
  width: 100%;
  height: 0;
  display: inline-block;
}
.practical-box .practical .practical-list .practical-list-one {
  height: 100%;
  padding: 0 20px;
  display: inline-block;
  text-align: center;
}
.practical-box .practical .practical-list .practical-list-one.hnz-one:hover .practical-icon-bg,
.practical-box .practical .practical-list .practical-list-one.hnz-two:hover .practical-icon-bg {
  transform: rotate(360deg) !important;
}
.practical-box .practical .practical-list .practical-list-one.hnz-three:hover .practical-icon-bg,
.practical-box .practical .practical-list .practical-list-one.hnz-three:hover .practical-icon-bg {
  transform: rotate(570deg) !important;
}
.practical-box .practical .practical-list .practical-list-one.hnz-four:hover .practical-icon-bg,
.practical-box .practical .practical-list .practical-list-one.hnz-four:hover .practical-icon-bg {
  transform: rotate(540deg) !important;
}
.practical-box .practical .practical-list .practical-list-one.hnz-one:hover .practical-iconfont,
.practical-box .practical .practical-list .practical-list-one.hnz-one:hover h4,
.practical-box .practical .practical-list .practical-list-one.hnz-three:hover .practical-iconfont,
.practical-box .practical .practical-list .practical-list-one.hnz-three:hover h4 {
  color: #4594e7;
}
.practical-box .practical .practical-list .practical-list-one.hnz-two:hover .practical-iconfont,
.practical-box .practical .practical-list .practical-list-one.hnz-two:hover h4,
.practical-box .practical .practical-list .practical-list-one.hnz-four:hover .practical-iconfont,
.practical-box .practical .practical-list .practical-list-one.hnz-four:hover h4 {
  color: #fa8e19;
}
.practical-box .practical .practical-list .practical-list-one .practical-icon {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.practical-box .practical .practical-list .practical-list-one .practical-icon .practical-icon-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  transition: all .5s;
}
.practical-box .practical .practical-list .practical-list-one .practical-icon .lan-bg {
  background: url(../images/yuan_01.png) no-repeat center center;
}
.practical-box .practical .practical-list .practical-list-one .practical-icon .lan-bg2 {
  background: url(../images/yuan_01.png) no-repeat center center;
  transform: rotate(210deg);
}
.practical-box .practical .practical-list .practical-list-one .practical-icon .huang-bg {
  background: url(../images/yuan_02.png) no-repeat center center;
}
.practical-box .practical .practical-list .practical-list-one .practical-icon .huang-bg2 {
  background: url(../images/yuan_02.png) no-repeat center center;
  transform: rotate(180deg);
}
.practical-box .practical .practical-list .practical-list-one .practical-icon .practical-iconfont {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  text-align: center;
  line-height: 100px;
  font-size: 44px;
  color: #eee;
  transition: all .3s;
}
.practical-box .practical .practical-list .practical-list-one h4 {
  margin-top: 15px;
  color: #eee;
  font-size: 18px;
  line-height: 3;
  transition: all .3s;
}
.practical-box .practical .practical-list .practical-list-one p {
  font-size: 12px;
  color: #ccc;
}
