@iw:1000px;
@bc:#0c80ec;
.dc(){
    margin-left:auto;
    margin-right: auto;
}
/*头部开始*/

.header{
    width: 100%;
    min-width: 1000px;
    height: 140px;
    position: absolute;
    z-index: 99999;
    .header-top-box{
        height: 80px;
        background: #292c33;
        .header-top{
            width: @iw;
            height: 100%;
            .dc;
            .logo{
                width: 178px;
                height: 140px;
                display: block;
                overflow: hidden;
                float: left;
            }
            .logo-text{
                float: left;
                height: 100%;
                color:#f0f0f0;
                padding-left:20px;
                h2{
                    padding-top: 20px;
                    font-size: 22px;
                    line-height: 26px;
                    text-shadow: 1px 1px 2px #222;
                }
                h4{
                    font-size: 14px;
                    line-height:18px;
                    text-shadow: 1px 1px 2px #222;
                }
            }
            .header-top-right{
                float: right;
                a{
                    float: left;
                    width: 36px;
                    height: 36px;
                    border:1px solid #fff;
                    border-radius: 50%;
                    margin:24px  10px 0 0;
                    transform: translateZ(0);
                    text-align: center;
                    line-height: 36px;
                    font-size: 20px;
                    color:#fff;
                    transition: all .3s;
                    -webkit-transition:all .3s;
                }
                a:hover{
                    background: @bc;
                }
                .header-top-tell{
                    float: left;
                    width: 138px;
                    height: 44px;
                    margin:18px 0;
                }
            }
        }
    }
    .header-nav-box{
        height: 60px;
        background-color: rgba(255,255,255,.7);
        // background: red;
        .header-nav{
            width: @iw;
            height: 100%;
            .dc;

            .header-nav-list{
                width:1000px-178px;
                margin-left: 178px;
                text-align: justify;
                &::after{
                    content: "";
                    display: inline-block;
                    width: 100%;
                    height: 0;
                    line-height: 0;
                }
                li{
                    display: inline-block;
                    text-align: center;
                    height: 60px;
                    min-width: 84px;
                    a{
                        display: block;
                        height: 100%;
                        overflow: hidden;
                        &:hover .zh{
                            font-size: 18px;
                            color:@bc;
                        }
                        &:hover .en{
                            opacity: 1;
                        }
                    }
                    span{
                        display: block;
                        transition: font-size  .2s,opacity .3s;
                    }
                    .zh{
                        font-size: 16px;
                        margin-top: 22px;
                        line-height: 18px;
                    }
                    .en{
                        font-size: 12px;
                        color: @bc;
                        opacity: 0;
                    }
                }
            }
        }
    }
}

/*头部结束*/
/*banner 开始*/
.banner-box{
    width: 100%;
    height: 560px;
    overflow: hidden;
    padding-top: 80px;
    position: relative;
    .hnz-swiper-container{
        height: 560px;
    }
    .swiper-slide a{
        width: 100%;
        height: 100%;
        display: block;
        overflow: hidden;
    }
    .btn-controller{
        position: absolute;
        width: 90%;
        left:5%;
        height: 0px;
        top:50%;
        margin-top: 55px;
        a{
            display: block;
            width: 50px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            font-size: 22px;
            color:#fff;
            background: #d2d2d2;
            border:1px solid #b6b6b6;
            border-radius: 50%;
            transition: all .3s;
            &:hover{
                background: #0369db;
            }
        }
        .hnz-arrow-left{
            float: left;
        }
        .hnz-arrow-right{
            float: right;
        }
    }
}
/*banner 结束*/
/*选择优逸客开始*/
.select-box{
    width: @iw;
    .dc;
    height: 150px;
    div{
        width: 20%;
        height: 100%;
        float: left;
        transition: all .3s;
        -webkit-transition:all .3s;

        &.select-1{
            background: url(../images/s_1.png) no-repeat bottom right;
            background-size: 100% 100%;
        }
        &.select-2{
            background: url(../images/s_2.png) no-repeat bottom right;
            background-size: 100% 100%;
        }
        &.select-3{
            background: url(../images/s_3.png) no-repeat bottom right;
            background-size: 100% 100%;
        }
        &.select-4{
            background: url(../images/s_4.png) no-repeat bottom right;
            background-size: 100% 100%;
        }
        &.select-5{
            background: url(../images/s_5.png) no-repeat bottom right;
            background-size: 100% 100%;
        }
        &:hover{
            background-size: 120% 120%;
        }
        &:hover .select-text1{
            color:@bc;
        }
        span{
            padding-left:20px;
            display: block;
            color:#333;
            height: 26px;
            line-height: 26px;
        }
        .select-text1{
            margin-top: 49px;
            font-weight: bold;
            font-size: 18px;
        }
        .select-text2{
            font-size: 14px;
        }
    }
}
/*选择优逸客结束*/
/*课程列表开始*/
.course-box{
    width: @iw;
    .dc;
    margin-bottom: 60px;
    .course-title{
        height: 196px;
        text-align: center;
        overflow: hidden;
        p{
            margin-top: 60px;
            font-size: 36px;
            color: @bc;
        }
        span{
            display: block;
            font-size: 16px;
            color:#333;
        }
        i{
            display: block;
            width: 20px;
            height: 2px;
            background-color: #043280;
            .dc;
            margin-top: 10px;
        }
    }
    .course-list{
        width: 100%;
        height: 484px;
        .course{
            box-sizing: border-box;
            border:1px solid #ddd;
            border-radius: 10px 10px 0 0;
            width: 33.33333%;
            float: left;
            height: 100%;
            background: #fff;
            overflow: hidden;
            &.hot,&:hover{
                transition: all .2s;
                transform:  scale(1.05,1.05);
                box-shadow: 0 2px 3px #999;
                border: 1px solid transparent;
                & *{
                    transition: all .2s;
                }
                .course-top{
                    background:url(../images/course_bg.png) no-repeat -10px -5px;
                    .course-top-title h3,.course-top-title p{
                        color:#fff;
                    }
                    .course-top-list{
                        & *{
                            transition: all .4s;
                        }
                        h3{
                            color: #fff;
                        }
                        span{
                            color:#fff;
                            border-color: #fff;
                        }
                    }
                }

                .course-button{
                    background-color: #fe6e20;
                    color:#fff!important;
                }
            }
            .course-top{
                height: 244px;
                background-color: #e7e7e7;
                .course-top-title{
                    width: 294px-16*2;
                    margin:0 auto;
                    padding:0 16px;
                    text-align: center;
                    overflow: hidden;
                    border-bottom:1px dashed #f7f7f7;
                    h3{
                        margin-top: 10px;
                        font-size: 24px;
                        line-height: 2;
                    }
                    p{
                        line-height: 1.5;
                        text-align: left;
                        font-size: 12px;
                        color: #555555;
                        margin-bottom: 10px;
                    }
                }
                .course-top-list{
                    width: 294px;
                    .dc;
                    text-align: center;
                    h3{
                        font-size: 14px;
                        color:#333;
                        line-height: 3;
                        text-align: center;
                    }
                    span{
                        height: 26px;
                        line-height: 26px;
                        padding:0 10px;
                        margin:5px;
                        display: inline-block;
                        border:1px solid #555;
                        border-radius:13px;
                        font-size: 12px;
                    }

                }
            }
            .course-bottom{
                h3{
                    color: #333;
                    text-align: center;
                    line-height: 44px;
                    font-size: 14px;
                }
                .course-bottom-list{
                    margin-left: 90px;
                    margin-right: 40px;
                    li{
                        font-size: 12px;
                        height: 28px;
                        line-height: 28px;
                        position: relative;
                        span{
                            display: inline-block;;
                            width: 5px;
                            height: 5px;
                            background: #bbbbbb;
                            margin-right: 16px;
                            border-radius: 50%;
                            position: relative;
                            z-index: 1;
                        }
                        &:nth-child(1) span{
                            width: 3px;
                            height: 3px;
                            margin-left: 1px;
                        }
                        &:nth-child(2) span{
                            width: 3px;
                            height: 3px;
                            margin-left: 1px;
                        }
                        i{
                            position: absolute;
                            width: 1px;
                            z-index: 0;
                            height: 28px;
                            background: #ddd;
                            top:16px;
                            left:2px;
                        }
                    }
                }
                .course-button{
                    width: 94px;
                    height: 34px;
                    display: block;
                    border:1px solid #fe6e20;
                    color:#fe6e20;
                    text-align: center;
                    line-height: 34px;
                    border-radius: 17px;
                    margin:5px auto 0;
                    transition: all .3s;
                }
            }
        }
    }
}
/*课程列表结束*/
/*实训讲师开始*/
.team-box{
    width: @iw;
    height: auto;
    border: 1px solid red;
    .dc;
}
/*实训讲师结束*/
